# Markdown Basics
## Markdown Basics
### Markdown Basics

* **point1** (Bold)
* *point2* (Italic)
* ***point3*** (Bold and Italic)

* Normal Text
 * Sublist 1
 *Sublist2
 
 >1. Point1
 >2. Point2
 
* Google site -- [1]: http://www.google.com
* msn site    -- [2]: http://www.msn.com

- []option 1

* Google site -- [Google].[1]
[1]: http://www.google.com

- []option 2

* msn site -- [msn].[2]
[2]: http://www.msn.com

### Python Basics
* Python version 3.7
- Functional Programming
- Object oriented Programming
- Sripting Programming

In [3]:
print("Hello Gitam")

Hello Gitam

In [4]:
print("Hyderabad")

Hyderabad

In [13]:
print("Hello Gitam","Hyderabad ",end ="")
print("welcome ",end ="")
print("ECE")

Hello Gitam Hyderabad welcome ECE

In [44]:
n1=100
a=b=c=20
a1,b1,c1=111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

In [43]:
n1=1
print(n1)
print(n1, n1)
print(n1, n1, n1)

1
1 1
1 1 1

In [45]:
a=100;
s1="python"
s2='p'
s3=19.1
print(a,s1,s2,s3)
print(type(a),type(s1),type(s2),type(s3))

100 python p 19.1
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [1]:
n1=5
n2=6
a=b=c=d=300
e=0
print(n1)

5

In [2]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [7]:
# length of a string
a1=1234
print(len(str(a1)))

4

In [13]:
#Reading a value-input function
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namevinay
vinay
<class 'str'>

In [16]:
# want a number as input
n1= int(input("enter a number"))
print(n1,type(n1))

enter a number19
19 <class 'int'>

## Operators
* operator is a symbols used to perform specific operations

In [18]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

Precedence of the Arth operators

.parenthesis
.power
.division
.multiplication
.addition
.sub

In [19]:
x=1+2**3/4+5
print(x)

8.0

## Relation Operatos

.==
.!=
.Greater(>)
.less than(<)
.less than and equals to(<=)
.greater than and equals to(=>)

## Logical Operators
 used to combine more than single comdition
 
 .and
 .or
 .not

In [20]:
i=100
a1= (i>15) and (i<75)
a2= (i>15) and (i<150)

In [26]:
#To check a given number is even or odd
n= int(input("enter a number"))
if n%2 ==0:
    print("even")
else:
    print("odd")

enter a number6
even

In [32]:
#To check a given number is perfectly multiple of 3 and 5
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number6
no

In [29]:
# Test given number is positive,negative or zero
n=int(input("enter a number"))
if n==0:
    print("zero")
elif n>0:
    print("positive Number")
elif n<0:
    print("negative Number")

enter a number5
positive Number